html{
    font-family: 'Heebo', sans-serif;
}

body{
    position: relative;
    background-color:transparent;
    color:rgba(255, 255, 255, 0.5);
    width:840px;
    height:640px;
}

#players_headsup_overlay{
    background-color:transparent;;
    opacity:0;
    position:absolute;
    top:120px;
    left:20px;
    height:540px;
    width:820px;
    z-index:1;
}

#pres_by_overlay{
    position: absolute;
    background-color:#454036;
    opacity:0;
    top:80px;
    left:20px;
    height:580px;
    width:820px;
}

#players_headsup_images{
    height:324px;
    width:800px;
    background-color:black;
}

#p1_photo_headsup_span{
    float:left;
    width:400px;
}

#p1_photo_headsup{
    width:400px;
    height:324px;
}

#p2_photo_headsup_span{
    width:400px;
    float:right;
}

#p2_photo_headsup{
    width:400px;
    height:324px;
}

#players_title{
    background-color:transparent;
    position:absolute;
    margin:0 auto;
    margin-top:80px;
    margin-right:10px;
    margin-left:10px;
    width:820px;
    height:560px;
}

#players_div{
    background-color:transparent;
    width:100%;
    height:400px;
}


#presented_by_overlay{
    visibility:hidden;
}

#title-info{
    background-color:transparent;
    width:100%;
    height:150px;
}

#game_title{
    color:#917e53;
    font-weight: bold;
    text-align:center;
    font-size:48;
    width:100%;
    height:50%;
}

#players{
    width:100%;
    display:table;
    height:50%;
    font-size:24;
}

#captures{
    font-size:16;
    margin-left:98px;
    display:table-cell;
    vertical-align: bottom;
    margin-top:10px;
    float:left;
}

#flags{
    height:200px;
    background-color:transparent;
}

#stones{
    height:8%;
}

#p1_name{
    float:left;
    margin-left:25px;
}

#p2_name{
    float:right;
    margin-right:25px;
}

#p1_flag_span{
    height:inherit;
    float:left;
    margin-left: 88px;
}

#p2_flag_span{
    height:inherit;
    float:right;
    margin-right: 47px;
}

#p1_stone_span{
    float:left;
    margin-left:10px;
}

#p2_stone_span{
    float:right;
    margin-right:10px;
}

#p1_flag{
    position:absolute;
    margin-top:160px;
    left:42px;
    height:48px;
    width:72px;
}

#p2_flag{
    position:absolute;
    margin-top:160px;
    left:729px;
    height:48px;
    width:72px;
}

#p1_stone{
    position:absolute;
    top:82px;
    left:28px;
    width:20px;
    float:left;
}

#p2_stone{
    top:82px;
    left:795px;
    position:absolute;
    width:20px;
    float:right;
}

#p1_photo_span{
    margin-left:10px;
    margin-top:40px;
    height:120px;
    width:180px;
    float:left;
}

#p2_photo_span{
    margin-right:10px;
    margin-top:40px;
    height:120px;
    width:180px;
    float:right;
}

#headsup_record{
    font-size:64;

}

#p1_photo{
    height:180px;
    width:120px;
    float:left;
}

#p2_photo{
    height:180px;
    width:120px;
    float:right;
}

#col1{
    background-color:#454036;
    color:rgba(255, 255, 255, 0.5);
    font-size:20;
    width:267px;
    height:216px;
    text-align: center;
    float:left;
}

#col2{
    font-size:20;
    background-color:#454036;
    color:rgba(255, 255, 255, 0.5);
    width:267px;
    height:216px;
    text-align: center;
    float:left;
}

#col3{
    background-color:#454036;
    color:rgba(255, 255, 255, 0.5);
    font-size:20;
    margin-right:20px;
    width:266px;
    height:216px;
    text-align: center;
    float:right;
}

#col1_stat1{
    background-color:#3c3422;
    color:rgba(145, 126, 83, 1);
    height:43px;
    line-height:43px;
}

#col1_stat2{
    height:43px;
    line-height:43px;
}

#col1_stat3{
    background-color:#3c3422;
    color:rgba(145, 126, 83, 1);
    height:43px;
    line-height:43px;
}

#col1_stat4{
    height:43px;
    line-height:43px;
}

#col1_stat5{
    background-color:#3c3422;
    color:rgba(145, 126, 83, 1);
    height:44px;
    line-height:44px;
}

#col2_stat1{
    height:43px;
    line-height:43px;
}

#col2_stat2{
    height:43px;
    line-height:43px;
}

#col2_stat3{
    height:43px;
    line-height:43px;
}

#col2_stat4{
    height:43px;
    line-height:43px;
}

#col2_stat5{
    height:44px;
    line-height:44px;
}

#col3_stat1{
    background-color:#3c3422;
    color:rgba(145, 126, 83, 1);
    height:43px;
    line-height:43px;
}

#col3_stat2{
    height:43px;
    line-height:43px;
}

#col3_stat3{
    background-color:#3c3422;
    color:rgba(145, 126, 83, 1);
    height:43px;
    line-height:43px;
}

#col3_stat4{
    height:43px;
    line-height:43px;
}

#col3_stat5{
    background-color:#3c3422;
    color:rgba(145, 126, 83, 1);
    height:44px;
    line-height:44px;
}

#presented_by{
	margin-right:20px;
    text-align: center;
    margin-top:20px;
    font-size:28;
}

#logos{
	margin-right:20px;
    text-align:center;
}

#recorders{
    float:left;
    text-align: center;
    width:259px;
    height:100px;
}

#producers{
    float:left;
    text-align: center;
    width:273px;
    height:100px;
}

#special_thanks{
    float:left;
    text-align: center;
    width:274px;
    height:100px;
}

#left_plus{
    float:left;
}

#left_minus{
    float:left;
}

#right_plus{
    float:right;
}

#right_minus{
    float:right;
}
